h1 {
    font-family: sans-serif;
    font-size: 20;
    font-weight: bolder;
    color: #f785ff;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 1px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    color:black;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

h3 {
    font-size: 20px;
    text-align: center;
    color: #e6e6e6;
    font-family: sans-serif;
}

h4 {
    color: #9547ad;
    text-shadow: 1px 1px 4px grey;
}


h5 {
    color: black;
}

h5.jba {
    padding-left:15px;
    padding-right:15px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: white;
    text-shadow: 0px 0px 5px orange;
    font-size:14px;
    width:auto;
}


a.nav-style {
  color: black;
  background-color: white;
  width: 120px;
  text-align: center;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  margin-top: 10px;

}

a.nav-style:hover {
    color: black;
    background-color: #9700c7;
    text-decoration: none;
}
p {
    font-size: 14px;
}

.im-content {
  position: absolute;
  top: 40%;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding:25px; 
}

.position-navbar {
  position:fixed;
  top: 0%;

}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
	
  /* Set up positioning */
  position:static;
  top: 0;
  left: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(50%); 
  -webkit-filter: grayscale(50%);
  opacity: 0.5;
}

.footer {
text-shadow: 2px 2px 3px black;
   position: fixed;
   left: 0;
   bottom: -1%;
   width: 100%;
   background-color: #f785ff;
   color: white;
   text-align: center;
    padding-top:2px;
}

p.center {
    text-align: center;
}

#btn2top {
  display: none;
  position: fixed;
  bottom: 3.3vw;
  right: 10px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#btn2top:hover {
  background-color: #9700c7;
}

p.footer-content {
    font-size: 1.3vw;
}

.profile-pic {
    border-radius: 50%;
    height: 220px;
    max-width: none;
    min-width: 220px;
    padding:20px;
}

#img-hover-zoom {
    overflow: hidden;
}

/* Colorize-zoom Container */
#img-hover-zoom img {
    overflow: hidden;
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(60%);
}

/* The Transformation */
#img-hover-zoom img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.readmore {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.readmore:hover {
  background-color: #555;
}

.column-3 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: #fde6ff;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item:nth-child(odd) .timeline-img-header {
  padding-top: 20px
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #de6de8;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
a:hover, a:active, a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}


.timeline-item:nth-child(1) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('../images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg') center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('../images/anas-alshanti-feXpdV001o4-unsplash.jpg') center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(3) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('../images/nasa-Q1p7bh3SHj8-unsplash.jpg') center center no-repeat;
  background-size: cover;
}
.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
  background-color: transparent;
}

.date {
  background: #de6de8;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}


@media screen and (max-width: 650px) {
  .column-3 {
      width:100%;
    }
    
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
    
    .col-7 {
        width:100%;
    }
}

